<%= form_with(model: @room, remote: true, class: "pt-3" ) do |f| %>
  <div class='row'>
    <div class='col-md-10'>
      <%= f.text_field :name, autofocus: true, required: true, class: 'form-control'%>
    </div>
    <div class='col-md-2'>
      <%= f.submit 'Create Room', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>